{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}

<div class="padTop5 container">
    {% if not cars.items is same as ([]) %}
    <h1 class='text-center mb-1'>Les voitures d'occasions</h1>
    {% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
    <a href="{{ path('home.index') }}" class="d-block mx-auto text-decoration-none text-primary fw-bold text-center">RETOUR</a>
    <div class="container">
        <div class="row">
            {% for car in cars %}
                <div class="col-md-4 mb-4 d-flex align-items-center justify-content-center">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">{{ car.description }}</p>
                            <h5 class="card-title">Date de mise en circulation</h5>
                            <p class="card-text">{{ car.yearOfManufacture|date('d:m:Y') }}</p>
                            <h5 class="card-title">Kilométrage</h5>
                            <p class="card-text">{{ car.mileage }} km</p>
                            <h5 class="card-title">Prix</h5>
                            <p class="card-text">{{ car.price }} €</p>
                        </div>
                        <a href="{{ path('car.delete', {id: car.id}) }}" onclick="return confirm('êtes vous sûr?')" class='btn-info text-decoration-none text-white fw-bold fs-4 text-center'>Supprimer</a>
                    </div>
                </div>
                
            {% endfor %}
            <div class="navigation d-flex flex-columns justify-content-center align-items-center">
                <div> {{ knp_pagination_render(cars) }}</div>
            </div>
            <small class ='count d-flex flex-columns justify-content-center align-items-center'> il y a {{ cars.getTotalItemCount }} voitures en occasions trouvées.</small>
        </div>
    </div>
    {% else %}
        <small>Aucunes voitures en stock</small>
    {% endif %}
</div>
{% endblock %}
